.feedback-panel {
  height: 100%;
}

.feedback-card {
  background-color: var(--pf-t--global--background--color--secondary--default);
  border-color: transparent;
  cursor: pointer;

  &:hover {
    border-color: var(--pf-t--global--border--color--brand--default);
  }
}

.feedback-card-icon {
  color: var(--pf-t--global--color--brand--default);
}

.feedback-external-link-icon {
  margin-left: 4px;
}

