.rc-header {
  color: var(--pf-t--global--text--color--regular);
}

.rc-header a {
  color: var(--pf-t--global--text--color--link--default);
}

.rc-header a:hover {
  color: var(--pf-t--global--text--color--link--hover);
}
